<div class="row wrapper border-bottom">
	<div class="col-lm-12">
		<div class="row">
			<div class="col-sm-9"><h2>Ayasumi Pun Pun 122</h2></div>
			<div class="col-sm-3">
				<select class="form-control">
					<option>001</option>
					<option>002</option>
					<option>003</option>
					<option>004</option>
					<option>005</option>
					<option>006</option>
					<option>007</option>
				</select>
			</div>
		</div>
		
		
	</div>
	<div class="col-lm-12 visor-manga">
		<uib-carousel interval="main.slideInterval">
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/002.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/004.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/006.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/007.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/008.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/009.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/010.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/012.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/013.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/014.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/015.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/016.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/017.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/018.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/019.jpg" style="margin:auto;">
            </uib-slide>
            <uib-slide>
                <img ng-src="img/mangas/punpun_001/020.jpg" style="margin:auto;">
            </uib-slide>
        </uib-carousel>
	</div>
	<div class="col-lg-12">

		<a class="btn btn-outline btn-warning"><i class="fa fa-star" ></i> Favorito</a>
		<a href="#/fix/editor" class="btn btn-outline btn-primary"><i class="fa fa-pencil-square-o" ></i> Corregir</a>
		<a class="btn btn-outline btn-danger"><i class="fa fa-flag" ></i> Reportar</a>

	</div>
	<div class="col-lg-12">
        <h2>Comentarios:</h2>
        <div class="social-feed-box">
            <div class="social-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="img/a1.jpg">
                </a>
                <div class="media-body">
                    <a href="#">
                        Andrew Williams
                    </a>
                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    default model text.
                </p>
            </div>
        </div>
        <div class="social-feed-box">
            <div class="social-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="img/a2.jpg">
                </a>
                <div class="media-body">
                    <a href="#">
                        Michael Novek
                    </a>
                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>
            </div>
        </div>
        <div class="social-feed-box">
            <div class="social-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="img/a3.jpg">
                </a>
                <div class="media-body">
                    <a href="#">
                        Alice Mediater
                    </a>
                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>
            </div>
        </div>
        <div class="social-feed-box">
            <div class="social-avatar">
                <a href="" class="pull-left">
                    <img alt="image" src="img/a5.jpg">
                </a>
                <div class="media-body">
                    <a href="#">
                        Monica Flex
                    </a>
                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                </div>
            </div>
            <div class="social-body">
                <p>
                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their
                    default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Packages and web page editors now use Lorem Ipsum as their
                    default model text.
                </p>
            </div>
        </div>
    </div>
</div>