<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Área de Trabajo: Página 001</h2>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    
        <div class="row">
            <div class="col-lg-6">
                <div id="vertical-timeline" class="vertical-container light-timeline">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <div class="number-viñeta">1</div>
                        </div>

                        <div class="vertical-timeline-content">
                            <div class="well">
                                ...un débil rastro de una dulce fragancia.
                            </div>
                                
                           <form>
                                <div class="form-group">
                                    <textarea type="text" placeholder="Correción" 
                                    class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i> Aplicar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon blue-bg">
                            <div class="number-viñeta">2</div>
                        </div>

                        <div class="vertical-timeline-content">
                            <div class="well">
                                ¿Terminaste tu redacción?
                            </div>
                                
                           <form>
                                <div class="form-group">
                                    <textarea type="text" placeholder="Correción" 
                                    class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i> Aplicar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon lazur-bg">
                            <div class="number-viñeta">3</div>
                        </div>

                        <div class="vertical-timeline-content">
                            <div class="well">
                                ¡La hice enseguida!
                            </div>
                                
                           <form>
                                <div class="form-group">
                                    <textarea type="text" placeholder="Correción" 
                                    class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i> Aplicar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon yellow-bg">
                            <div class="number-viñeta">4</div>
                        </div>

                        <div class="vertical-timeline-content">
                            <div class="well">
                                Era fácil ¡Ya se que quiero ser actriz, cantante o modelo!
                            </div>
                                
                           <form>
                                <div class="form-group">
                                    <textarea type="text" placeholder="Correción" 
                                    class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i> Aplicar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <div class="number-viñeta">5</div>
                        </div>

                        <div class="vertical-timeline-content">
                            <div class="well">
                                ¿Adivinas qué?
                            </div>
                                
                           <form>
                                <div class="form-group">
                                    <textarea type="text" placeholder="Correción" 
                                    class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i> Aplicar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon blue-bg">
                            <div class="number-viñeta">6</div>
                        </div>

                        <div class="vertical-timeline-content">
                            <div class="well">
                                En unos pocos años el petróleo se acabará, el medioambiente colapsará y no podremos vivir más en la tierra.
                            </div>
                                
                           <form>
                                <div class="form-group">
                                    <textarea type="text" placeholder="Correción" 
                                    class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i> Aplicar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon lazur-bg">
                            <div class="number-viñeta">7</div>
                        </div>

                        <div class="vertical-timeline-content">
                            <div class="well">
                                Así que tendremos que colonizar otras estrellas o la humanidad se extinguirá.
                            </div>
                                
                           <form>
                                <div class="form-group">
                                    <textarea type="text" placeholder="Correción" 
                                    class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i> Aplicar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon yellow-bg">
                            <div class="number-viñeta">8</div>
                        </div>

                        <div class="vertical-timeline-content">
                            <div class="well">
                                ¡¿Lo sabías?!
                            </div>
                                
                           <form>
                                <div class="form-group">
                                    <textarea type="text" placeholder="Correción" 
                                    class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i> Aplicar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <a >
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-plus"></i>
                        </div>
                        </a>
                        <div class="vertical-timeline-content"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-content">
                        <h5 class="m-b-md">Página Limpia 001</h5>
                        <div class="dispay-page">
                            <img src="img/proy/016.jpg">
                        </div>
                        <button class="btn btn-primary btn-block m-t"><i class="fa fa-check"></i> Publicar Corrección</button>
                    </div>
                </div>
            </div>
        </div>
    
    <div class="row">
        <div class="col-lg-12 ">
        </div>
    </div>
</div>