<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Datos del Proyecto</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a>Proyectos</a>
            </li>
            <li class="active">
                <strong>Nuevo Proyecto</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Datos Generales</h5>

                    
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre del proyecto</label>
                            <div class="col-lg-10"><input type="text" placeholder="Nombre del proyecto" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Descripción</label>

                            <div class="col-lg-10"><input type="text" placeholder="Alguna descripción" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Idioma</label>

                            <div class="col-sm-10"><select class="form-control m-b" name="account">
                                <option>Español</option>
                                <option>Inglés</option>
                                <option>Portugés</option>
                                <option>Francés</option>
                            </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Datos de Publicación</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="form-group"><label class="col-lg-2 control-label">Serie</label>
                            <div class="col-lg-10"><input type="text" placeholder="Nombre de la Serie" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Capítulo</label>

                            <div class="col-lg-10"><input type="text" placeholder="Número del Capítulo" class="form-control">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre</label>

                            <div class="col-lg-10"><input type="text" placeholder="Nombre del Capítulo" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Páginas Limpias</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <form action="#" class="dropzone" dropzone="" id="dropzone">
                        <div class="dz-message m-t-lg m-b-lg">
                            <h1>Suelta los archivos aquí.</h1>
                            <span>(Si subes imagenes sepáradas enumeralas en formato 001, 002, etc, lo mismo si subes un .zip )</span>
                        </div>
                        </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Integrantes</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                	<div class="row">
				    	<div class="col-lg-3">
						    <div class="contact-box">
						        <a ui-sref="profile">
						            <div class="col-sm-4">
						                <div class="text-center">
						                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

						                    <div class="m-t-xs font-bold">Traductor</div>
						                </div>
						            </div>
						            <div class="col-sm-8">
						                <h3><strong>John Smith</strong></h3>

						                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
						                <address>
						                    <strong>Publicaciones:</strong><br>
						                    Bleach 125<br>
						                    Nanatsu no Tanzai 234<br>
						                    Boku no Hero Academia 94
						                </address>
						            </div>
						            <div class="clearfix"></div>
						        </a>
						    </div>
						</div>
						<div class="col-lg-3">
						    <div class="contact-box">
						        <a ui-sref="profile">
						            <div class="col-sm-4">
						                <div class="text-center">
						                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a1.jpg">

						                    <div class="m-t-xs font-bold">Redrawer</div>
						                </div>
						            </div>
						            <div class="col-sm-8">
						                <h3><strong>Alex Johnatan</strong></h3>

						                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
						                <address>
						                    <strong>Publicaciones:</strong><br>
						                    Bleach 125<br>
						                    Nanatsu no Tanzai 234<br>
						                    Boku no Hero Academia 94
						                </address>
						            </div>
						            <div class="clearfix"></div>
						        </a>
						    </div>
						</div>
						<div class="col-lg-3">
						    <div class="contact-box">
						        <a ui-sref="profile">
						            <div class="col-sm-4">
						                <div class="text-center">
						                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a3.jpg">

						                    <div class="m-t-xs font-bold">Typesetter</div>
						                </div>
						            </div>
						            <div class="col-sm-8">
						                <h3><strong>Monica Smith</strong></h3>

						                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
						                <address>
						                    <strong>Publicaciones:</strong><br>
						                    Bleach 125<br>
						                    Nanatsu no Tanzai 234<br>
						                    Boku no Hero Academia 94
						                </address>
						            </div>
						            <div class="clearfix"></div>
						        </a>
						    </div>
						</div>
						<div class="col-lg-3">
						    <div class="contact-box">
						        <a ui-sref="profile">
						            <div class="col-sm-4">
						                <div class="text-center">
						                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a4.jpg">

						                    <div class="m-t-xs font-bold">Corrector</div>
						                </div>
						            </div>
						            <div class="col-sm-8">
						                <h3><strong>Michael Zimber</strong></h3>

						                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
						                <address>
						                    <strong>Publicaciones:</strong><br>
						                    Bleach 125<br>
						                    Nanatsu no Tanzai 234<br>
						                    Boku no Hero Academia 94
						                </address>
						            </div>
						            <div class="clearfix"></div>
						        </a>
						    </div>
						</div>
						<div class="col-lg-3">
						    <div class="contact-box">
						        <a ui-sref="profile">
						            <div class="col-sm-4">
						                <div class="text-center">
						                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a5.jpg">

						                    <div class="m-t-xs font-bold">Corrector</div>
						                </div>
						            </div>
						            <div class="col-sm-8">
						                <h3><strong>Sandra Smith</strong></h3>

						                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
						                <address>
						                    <strong>Publicaciones:</strong><br>
						                    Bleach 125<br>
						                    Nanatsu no Tanzai 234<br>
						                    Boku no Hero Academia 94
						                </address>
						            </div>
						            <div class="clearfix"></div>
						        </a>
						    </div>
						</div>
						<div class="col-lg-3">
						    <div class="contact-box">
						        <a ui-sref="profile">
						            <div class="col-sm-4">
						                <div class="text-center">
						                    <img alt="image" class="img-circle m-t-xs img-responsive" src="img/mas.jpg">
						                    <div class="m-t-xs font-bold">Invitar</div>
						                </div>
						            </div>
						            <div class="clearfix"></div>
						        </a>
						    </div>
						</div>
				    </div>
                </div>
            </div>
        </div>
    </div>

</div>