<div class="row  border-bottom white-bg dashboard-header animated fadeInRight">
	<div class="col-sm-12">
        <h2 class="ng-binding">HOT MANGA RELEASES</h2>
        <small class="ng-binding">Últimas actualizaciones de los mejores mangas.</small>
    </div>

    <div class="col-lg-12" >
        <slick class="slick_demo_2" infinite="true" slides-to-show="6" slides-to-scroll="1" center-mode="true"
               responsive="[ { breakpoint: 1024, settings: { slidesToShow: 3, slidesToScroll: 3, infinite: true, dots: true } }, { breakpoint: 600, settings: { slidesToShow: 2, slidesToScroll: 2 } }, { breakpoint: 480, settings: { slidesToShow: 1, slidesToScroll: 1 } } ]" >
            <div>
                <a href="#/manga/read">
	                <div class="ibox-content">
	                    	<img src="img/tomos/1.jpg">
	                    	<h3>Bleach 130</h3>
	                </div>
                </a>
            </div>
            <div>
                <a href="#/manga/read">
	                <div class="ibox-content">
	                    	<img src="img/tomos/2.jpg">
	                    	<h3>One Piece 233</h3>
	                </div>
                </a>
            </div>
            <div>
                <a href="#/manga/read">
	                <div class="ibox-content">
	                    	<img src="img/tomos/3.jpg">
	                    	<h3>Shokugeki 155</h3>
	                </div>
                </a>
            </div>
            <div>
                <a href="#/manga/read">
	                <div class="ibox-content">
	                    	<img src="img/tomos/4.jpg">
	                    	<h3>Konjiki no Moji Tsukai 25</h3>
	                </div>
                </a>
            </div>
            <div>
                <a href="#/manga/read">
	                <div class="ibox-content">
	                    	<img src="img/tomos/5.jpg">
	                    	<h3>World Trigger 249</h3>
	                </div>
                </a>
            </div>
            <div>
                <a href="#/manga/read">
	                <div class="ibox-content">
	                    	<img src="img/tomos/6.jpg">
	                    	<h3>Hunter x Hunter 111</h3>
	                </div>
                </a>
            </div>
            <div>
                <a href="#/manga/read">
	                <div class="ibox-content">
	                    	<img src="img/tomos/7.jpg">
	                    	<h3>Ansatsu Kyoushitsu 180.4</h3>
	                </div>
                </a>
            </div>
            <div>
                <a href="#/manga/read">
	                <div class="ibox-content">
	                    	<img src="img/tomos/9.jpg">
	                    	<h3>Sakamoto desu ga? 24</h3>
	                </div>
                </a>
            </div>
        </slick>
    </div>
</div>
<!-- RECIENTES -->
<div class="wrapper wrapper-content  animated fadeInLeft">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Últimas actulaizaciones</h5>
                    <div class="ibox-tools">
                        <a href="" class="btn btn-primary btn-xs">Ver completo</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-hover issue-tracker">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="label label-primary">New</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-23
                                    </a>

                                    <small>
                                        This is issue with the coresponding note
                                    </small>
                                </td>
                                <td>
                                    Adrian Novak
                                </td>
                                <td>
                                    12.02.2015 10:00 am
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/1.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Mag</button>
                                    <button class="btn btn-white btn-xs"> Rag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-primary">New</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-17
                                    </a>

                                    <small>
                                        Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                                    </small>
                                </td>
                                <td>
                                    Anna Smith
                                </td>
                                <td>
                                    10.02.2015 05:32 am
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/3.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Rag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-primary">New</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-12
                                    </a>

                                    <small>
                                        It is a long established fact that a reader will be
                                    </small>
                                </td>
                                <td>
                                    Anthony Jackson
                                </td>
                                <td>
                                    02.03.2015 06:02 am
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/2.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Mag</button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <span class="label label-danger">Hot!</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-51
                                    </a>

                                    <small>
                                        Always free from repetition, injected humour, or non-characteristic words etc.
                                    </small>
                                </td>
                                <td>
                                    Alex Ferguson
                                </td>
                                <td>
                                    28.11.2015 05:10 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/4.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-primary">New</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-11
                                    </a>

                                    <small>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    </small>
                                </td>
                                <td>
                                    Monica Proven
                                </td>
                                <td>
                                    01.10.2015 11:02 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/3.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Rag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-warning">Fixed</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-07
                                    </a>

                                    <small>
                                        Always free from repetition, injected humour, or non-characteristic words etc.
                                    </small>
                                </td>
                                <td>
                                    Alex Ferguson
                                </td>
                                <td>
                                    28.11.2015 05:10 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/5.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-warning">Fixed</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-06
                                    </a>

                                    <small>
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                                    </small>
                                </td>
                                <td>
                                    Carol Jackson
                                </td>
                                <td>
                                    11.03.2015 07:30 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/6.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Mag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-warning">Fixed</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-05
                                    </a>

                                    <small>
                                        Content here, content here', making it look like readable English. Many desktop
                                    </small>
                                </td>
                                <td>
                                    Carol Jackson
                                </td>
                                <td>
                                    05.04.2015 08:40 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/3.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Mag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-warning">Fixed</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-04
                                    </a>

                                    <small>
                                        Virginia, looked up one of the more obscure Latin words, consectetur
                                    </small>
                                </td>
                                <td>
                                    Monica Smith
                                </td>
                                <td>
                                    10.06.2014 08:10 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/2.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Mag</button>
                                    <button class="btn btn-white btn-xs"> Cag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-warning">Fixed</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-03
                                    </a>

                                    <small>
                                        Injected humour, or randomised words which don't l
                                    </small>
                                </td>
                                <td>
                                    Anna Johnson
                                </td>
                                <td>
                                    13.05.2014 09:20 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/3.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Cag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-danger">Hot!</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-44
                                    </a>

                                    <small>
                                        This is issue with the coresponding note
                                    </small>
                                </td>
                                <td>
                                    Adrian Novak
                                </td>
                                <td>
                                    12.02.2015 10:00 am
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/7.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Mag</button>
                                    <button class="btn btn-white btn-xs"> Rag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-danger">Hot!</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-41
                                    </a>

                                    <small>
                                        Desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                                    </small>
                                </td>
                                <td>
                                    Anna Smith
                                </td>
                                <td>
                                    10.02.2015 05:32 am
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/9.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Rag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-danger">Hot!</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-34
                                    </a>

                                    <small>
                                        It is a long established fact that a reader will be
                                    </small>
                                </td>
                                <td>
                                    Anthony Jackson
                                </td>
                                <td>
                                    02.03.2015 06:02 am
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/2.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Mag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-warning">Fixed</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-07
                                    </a>

                                    <small>
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                                    </small>
                                </td>
                                <td>
                                    Mark Conor
                                </td>
                                <td>
                                    18.09.2015 06:20 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/4.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Mag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-danger">Hot!</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-46
                                    </a>

                                    <small>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    </small>
                                </td>
                                <td>
                                    Monica Proven
                                </td>
                                <td>
                                    01.10.2015 11:02 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/5.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Rag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="label label-danger">Hot!</span>
                                </td>
                                <td class="issue-info">
                                    <a href="#/manga/read">
                                        Manga-52
                                    </a>

                                    <small>
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit am
                                    </small>
                                </td>
                                <td>
                                    Mark Conor
                                </td>
                                <td>
                                    18.09.2015 06:20 pm
                                </td>
                                <td>
                                    <span class="pie"></span><img src="img/tomos/7.jpg">
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-white btn-xs"> Tag</button>
                                    <button class="btn btn-white btn-xs"> Mag</button>
                                    <button class="btn btn-white btn-xs"> Dag</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-bookmark" aria-hidden="true"></i> Favoritos</h5>
                        </div>
                        <div class="ibox-content no-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a>
                                        Tate no Yuusha24<span class="badge badge-primary">Nuevo!</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a>
                                        The Gamer 131
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a>
                                        Boku no Hero Academia 97
                                    </a>
                                </li>
                                <li class="list-group-item ">
                                    Horimiya 65
                                </li>
                                <li class="list-group-item">
                                    <a>
                                        Noragami 67
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i>Ver más</button>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><i class="fa fa-clock-o" aria-hidden="true"></i> Historial</h5>
                        </div>
                        <div class="ibox-content no-padding">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a>
                                        Tate no Yuusha24<span class="badge badge-primary">Nuevo!</span>
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a>
                                        The Gamer 131
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a>
                                        Boku no Hero Academia 97
                                    </a>
                                </li>
                                <li class="list-group-item ">
                                    Horimiya 65
                                </li>
                                <li class="list-group-item">
                                    <a>
                                        Noragami 67
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i>Ver más</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                    <div class="ibox-title">
                        <h5><i class="fa fa-flask" aria-hidden="true"></i> Mis proyectos</h5>

                        <div class="ibox-tools">
                            <a href="" class="btn btn-xs">Ver todos</a>
                            <a href="" class="btn btn-primary btn-xs">Crear Nuevo</a>
                        </div>
                    </div>
                    <div class="ibox-content">
                    <div class="project-list">

                    <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td class="project-title">
                            <a ui-sref="project_detail">Bleach 122</a>
                            <br/>
                            <small>Creado 14.08.2014</small>
                        </td>
                        <td class="project-completion">
                            <small>Completado un: 48%</small>
                            <div class="progress progress-mini">
                                <div style="width: 48%;" class="progress-bar"></div>
                            </div>
                        </td>
                        <td class="project-people">
                            <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a1.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a2.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a4.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                        </td>
                        <td class="project-actions">
                            <a href="" class="btn btn-white btn-sm"><i class="fa fa-eye"></i></a>
                            <a href="" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="project-title">
                            <a ui-sref="project_detail">Hayate no gotoku 112</a>
                            <br/>
                            <small>Creado 11.08.2014</small>
                        </td>
                        <td class="project-completion">
                            <small>Completado un: 28%</small>
                            <div class="progress progress-mini">
                                <div style="width: 28%;" class="progress-bar"></div>
                            </div>
                        </td>
                        <td class="project-people">
                            <a href=""><img alt="image" class="img-circle" src="img/a7.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a6.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                        </td>
                        <td class="project-actions">
                            <a href="" class="btn btn-white btn-sm"><i class="fa fa-eye"></i></a>
                            <a href="" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="project-title">
                            <a ui-sref="project_detail">Sunny Days 44</a>
                            <br/>
                            <small>Creado 10.08.2014</small>
                        </td>
                        <td class="project-completion">
                            <small>Completado un: 8%</small>
                            <div class="progress progress-mini">
                                <div style="width: 8%;" class="progress-bar"></div>
                            </div>
                        </td>
                        <td class="project-people">
                            <a href=""><img alt="image" class="img-circle" src="img/a5.jpg"></a>
                            <a href=""><img alt="image" class="img-circle" src="img/a3.jpg"></a>
                        </td>
                        <td class="project-actions">
                            <a href="" class="btn btn-white btn-sm"><i class="fa fa-eye"></i></a>
                            <a href="" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    
                    </tbody>
                    </table>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-bolt" aria-hidden="true"></i> Ranking</h5>
                </div>
                <div class="ibox-content no-padding">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a>
                                Tate no Yuusha24<span class="badge badge-primary">Nuevo!</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                The Gamer 131
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Boku no Hero Academia 97
                            </a>
                        </li>
                        <li class="list-group-item ">
                            Horimiya 65
                        </li>
                        <li class="list-group-item">
                            <a>
                                Noragami 67
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Tomo-chan wa Onnanoko! 359<span class="badge badge-primary">Nuevo!</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Tsuyokute New Saga 29
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                The New Gate 18
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Nisekoi (KOMI Naoshi) 223
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Sousei no Onmyouji 32
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                World Customize Creator 29
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Tales of Demons and Gods 83.5
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Tomo-chan wa Onnanoko! 359
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Ansatsu Kyoushitsu 180.4
                            </a>
                        </li>
                        <li class="list-group-item ">
                            Horimiya 65
                        </li>
                        <li class="list-group-item">
                            <a>
                                Noragami 67
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Tomo-chan wa Onnanoko! 359<span class="badge badge-primary">Nuevo!</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Tsuyokute New Saga 29
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                The New Gate 18
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Nisekoi (KOMI Naoshi) 223
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Tate no Yuusha no Nariagari 24
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                The Gamer 131
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Boku no Hero Academia 97
                            </a>
                        </li>
                        <li class="list-group-item ">
                            Horimiya 65
                        </li>
                        <li class="list-group-item">
                            <a>
                                Noragami 67
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Tomo-chan wa Onnanoko! 359
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a>
                                Tsuyokute New Saga 29
                            </a>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i>Ver más</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MIS PROYECTOS -->
<div class="row">
    
</div>

<!-- 
<div class="wrapper wrapper-content animated fadeInRight">
    
</div>
 -->